<header class="intro-header" style="background-image: url('assets/about.jpeg')" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>About Me</h1>
          <hr class="small">
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>Tony Gaeta is an active member of the United States Army Reserves. He has served as an intelligence officer in both Iraq and Afghanistan, and recently worked as an intelligence analyst at The United States Special Operations Command (USSOCOM) in Tampa, FL. In late December of 2014, Tony left the intelligence community to pursue a career in web development by attending The Iron Yard Academy in St. Petersburg, FL. Tony is studying to become a full-stack web developer with his main concentration in Rails Engineering.</p>
      <p>Lorem Ipsum text in the posts are from <%= link_to "Space Ipsum", "http://spaceipsum.com/" %>. This blog was created during my time at <%= link_to "The Iron Yard", "http://www.theironyard.com" %> using Ruby on Rails, Twitter Bootstrap, and <%= link_to "Clean Blog Theme", "http://startbootstrap.com/template-overviews/clean-blog/" %> (to lessen Bootstrap's bootstrappieness).</p>
    </div>
  </div>
</div>
