<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Supercomputers!<br />High-performance Computing</h1>
  <p class="lead">A supercomputer is a computer at the frontline of contemporary processing capacity – which can happen at trillions of floating point operations per second.</p><br />
  <p><%= link_to "Add a Supercomputer", "/index", class: "btn btn-lg btn", role: "button" %></p>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>History</h2>
    <p>The history of supercomputing goes back to the 1960s, with the Atlas at the University of Manchester and a series of computers at Control Data Corporation (CDC), designed by Seymour Cray. These used innovative designs and parallelism to achieve superior computational peak performance.</p>
  </div>
  <div class="col-lg-4">
    <h2>Operating Systems</h2>
    <p>Since the end of the 20th century, supercomputer operating systems have undergone major transformations, based on the changes in supercomputer architecture.[65] While early operating systems were custom tailored to each supercomputer to gain speed, the trend has been to move away from in-house operating systems to the adaptation of generic software such as Linux.</p>
  </div>
  <div class="col-lg-4">
    <h2>TOP500</h2>
    <p>Since 1993, the fastest supercomputers have been ranked on the TOP500 list according to their LINPACK benchmark results. The list does not claim to be unbiased or definitive, but it is a widely cited current definition of the "fastest" supercomputer available at any given time.</p>
  </div>
</div>